*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
    
a{
    text-decoration: none;
    color:lemonchiffon;
}
nav ul li input{
    flex: 5;
    border: none;
    outline: none;
    background: black;
    color: white;
}
nav ul li button{
    background: rgb(255, 228, 153);
    padding: 4px 9px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.5s;
}
p{
    color:azure;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 45%;
    min-width: 400px;
}
.col-2 img{
    max-width: 100%;
    padding: 60px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 10px 0;
    color:rgb(207, 185, 123);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.col-2 p{
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
    color:rgba(233, 236, 236, 0.877);
}
.btn{
    display: inline-block;
    background: rgb(255, 224, 158);
    color:black;
    padding: 5px 18px;
    margin: 25px 0;
    border-radius: 25px;
    transition: background 0.5s;
}
.btn:hover{
    background:darkgrey;
}
.header{
    background:black;
}
.header .row{
    margin-top: 10px;
}
.categories{
    margin: 60px 20px;
}
.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom:30px;
    margin-left: 30px;
}
.col-3 img{
    width: 90%;
}
.small-container{
   max-width: 1080px;
   margin: auto; 
   padding-left: 25px;
   padding-right: 25px; 
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 300px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 50px;
    position: relative;
    line-height:60px ;
    color: black;
}
.title::after{
    content:'' ;
    background:rgb(231, 33, 33);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.h4{
    color: rgb(73, 69, 69);
    font-weight: normal;
}
.h5{
    color: rgb(95, 91, 91);
}
.col-4:hover{
    transform: translateY(-5px);
}

/*---------offer---------------*/

.offer{
    background: radial-gradient(rgb(100, 118, 118),rgb(255, 255, 255));
    margin-top: 80px;
    padding: 30px 0;
}
.col-5{
    flex-basis: 50%;
    min-width: 400px;
}
.col-5 .offer-img{
    max-width: 600px;
    max-height: 600px;
    padding:0px 0px;
}
.col-5 h1{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    line-height: 50px;
    margin: 10px 0;
    color:rgb(3, 8, 53);
}
.col-5 p{
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
    color:rgb(84, 7, 87);
    font-family: cursive;
}
.small{
    color: rgb(0, 0, 0);
    font-family: fantasy;
}
.btn2{
    display: inline-block;
    background: rgb(24, 55, 83);
    color:rgb(187, 182, 182);
    padding: 5px 18px;
    margin: 25px 0;
    border-radius: 25px;
    transition: background 0.5s;
}
.btn2:hover{
    background:rgb(52, 58, 57);
}
.btn-style
{
    background-color: rgb(255, 228, 153);
    padding: 6px;
    border-radius: 5px;
}